/* MOBILE FIRST */


/* Resets */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div {
    background-color: transparent;
    display: block;
}

input {
    -webkit-appearance: none;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    line-height: 0;
    outline: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(45, 48, 50, 0.67);
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/Open_Sans/OpenSans-Semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/Open_Sans/OpenSans-Extrabold.ttf') format('truetype');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('fonts/Open_Sans_Condensed/OpenSans-CondLight.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('fonts/Open_Sans_Condensed/OpenSans-CondBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon/icomoon.eot?gycvl5');
    src: url('fonts/icomoon/icomoon.eot?gycvl5#iefix') format('embedded-opentype'), url('fonts/icomoon/icomoon.ttf?gycvl5') format('truetype'), url('fonts/icomoon/icomoon.woff?gycvl5') format('woff'), url('fonts/icomoon.svg?gycvl5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Resets end */

html,
body {
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    color: #cfd2da;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

html {
    font-size: 62.5%;
}

body {
    overflow: hidden;
    font-size: 12px;
}

input {
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 1.8rem;
    line-height: 1.6rem;
    padding: 8px;
    margin-top: 5px;
    border-radius: 2px;
    width: 100%;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .14);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .14);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.container {
    width: 100%;
    border-bottom: 1px solid #212121;
    border-top: 1px solid #1f1f1f;
    min-height: 320px;
    max-height: 320px;
}

@media (min-width: 768px) {
    .container {
        height: 500px;
        max-height: none;
    }
}

@media (min-width: 950px) {
    .container {
        height: 550px;
        max-height: none;
    }
}

@media (min-width: 1025px) {
    .container {
        height: 600px;
        max-height: none;
    }
}

@media (min-width: 1080px) {
    .container {
        height: 800px;
        max-height: none;
    }
}

.menuFixed {
    position: fixed;
    background-color: transparent;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 999;
}

.container > canvas {
    width: 100%;
}

.menuFixed > canvas {
    width: 100%;
    display: none;
}

.subtitle {
    position: absolute;
    font-size: 1.2rem;
    line-height: 7px;
    font-weight: 100;
    opacity: 0;
}

@media (max-width: 360px) {
    .subtitle {
        font-size: 1.2rem;
        line-height: 13px;
    }
}

@media (min-width: 768px) {
    .subtitle {
        font-size: 1.9rem;
    }
}

@media (min-width: 950px) {
    .subtitle {
        font-size: 2.5rem;
        line-height: 26px;
    }
}

.card {
    height: 120px;
    min-width: 100px;
    background-color: transparent;
    display: none;
    top: 0;
    right: 0;
    opacity: 0;
    border-radius: 5px;
    color: rgba(45, 48, 50, 0.84);
    margin-right: 20px;
    margin-top: 20px;
    padding: 15px;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

@media (min-width: 950px) {
    .card {
        height: 120px;
        min-width: 100px;
    }
}

.card:hover {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    opacity: 1 !important;
    color: #4e4e4e;
    background-color: #1b1b1b;
}

.card p {
    font-size: 1.3rem;
    font-weight: 500;
}

@media (min-width: 1025px) {
    .card p {
        font-size: 1.5rem;
        font-weight: 500;
    }
}

.card div {
    width: 100%;
    padding: 8px 0px;
    margin-top: 18px;
    border-left: 1px solid rgba(45, 48, 50, 0.67);
    border-right: 1px solid rgba(45, 48, 50, 0.67);
    cursor: pointer;
}

.card:hover div > hr,
.card:hover div {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border-color: #525252;
}


/*------------------------------------*/

.icon {
    font-family: "icomoon";
    font-size: 20px;
}

.container-cards {
    padding: 0 10px;
    min-height: 100%;
    background-color: #2b2c2d;
    border-top: 1px solid #3a3a3a;
}

@media(min-width: 320px) {
    .container-cards {
        padding-top: 10px;
        padding-bottom: 20px;
    }
}

@media (min-width: 768px) {
    .container-cards {
        padding: 0 30px 1px 30px;
        padding-top: 30px;
    }
}

@media (min-width: 1025px) {
    .container-cards {
        padding: 0 30px 30px 30px;
        padding-top: 60px;
    }
}

section {
    margin-bottom: 70px;
}

section:last-child {}

section > h1 {
    font-family: 'Open Sans Condensed';
    font-weight: 400;
    font-size: 30px;
    text-align: left;
    line-height: normal;
    color: #D4E157;
    letter-spacing: normal;
    margin-bottom: 20px;
    width: 100%;
}

section > h2 {
    font-size: 17px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 18px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 15px;
    width: 100%;
}

@media (min-width: 768px) {
    section > h1 {
        font-size: 43px;
        margin-bottom: 10px;
    }
    section > h2 {
        text-align: left;
    }
}

@media (min-width: 1024px) {
    section > h1 {
        font-size: 43px;
        margin-bottom: 10px;
    }
    section > h2 {
        text-align: left;
    }
}

@media (min-width: 1308px) {
    section > h1 {
        font-size: 43px;
        margin-bottom: 10px;
    }
}

@media (min-width: 1440px) {
    section > h2 {
        font-size: 20px;
        line-height: 25px;
    }
}

.flex {
    width: 100%;
}

@media (min-width: 1024px) {
    .flex {
        display: flex;
        flex: 1;
        justify-content: space-between;
    }
}

.card-flex {
    width: 100%;
}

@media (min-width: 1024px) {
    .card-flex {
        width: 46%;
    }
}

@media (min-width: 1440px) {
    .card-flex {
        display: flex;
        width: 50%;
    }
}

.container-video {
    position: relative;
    border: 3px solid #464646;
}

@media(min-width: 768px) {
    .container-video {
        margin: 0 114px;
    }
}

@media(min-width: 1024px) {
    .container-video {
        margin: 0 57px;
    }
}

@media(min-width: 1140px) {
    .container-video {
        margin: 0;
    }
}

.container-video > video {
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

.start-video {
    width: 100%;
    position: absolute;
    top: 0px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.78);
}

.start-video > .icon {
    font-size: 60px;
    color: rgba(169, 167, 167, 0.78);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.start-video:hover {
    background-color: rgba(0, 0, 0, 0.86);
    cursor: pointer;
}

.start-video:hover > .icon {
    color: rgba(255, 255, 255, 0.89);
}

.text {
    font-size: 17px;
    line-height: 20px;
    padding: 15px 5px 0 5px;
    text-align: center;
}

@media (min-width: 1440px) {
    .text {
        text-align: left;
        padding: 0 30px;
        font-size: 20px;
        line-height: 20px;
        width: 48%;
    }
}

.hr {
    padding: 0 60px;
}

.hr > hr {
    width: 100%;
    margin: 20px 0;
    border-top: 1px solid rgb(111, 111, 111);
}

@media (min-width: 1024px) {
    .hr {
        display: none;
        padding: 0;
        margin: 0;
    }
}